body {
	background-color: #f8f8f8;
}

.header {
	height: 190px;
	background-image: url(img/header.png);
}

.container{
	width: 100%;
	position: relative;
	margin-left: auto;
    margin-right: auto;
}

.footer {
	color: #484343;
	font-size: 10px;
	font-weight: 400;
	height: 30px;
	background-color: #C0C0C0;
	text-align: right;
	padding-right: 30px;
	padding-top: 2px;
	clear: both;
}


/*меню и лого*/

.rightmenu {
	height: 130px;
	position: absolute;
	font-size: 24px; 
	font-weight: bold;
	text-transform:uppercase;
	font-family: Verdana, Arial, sans-serif;
	list-style: none;
	right: 100px;
}

#logo_dog {
	position: absolute;
	top: 2px;
	left: 2px;
}

.menu li {
	display: inline-block;
}


.menu li a,
.menu2 li a {
	text-decoration-line: none;
  	color: #24221A; /* меню без форматирования */
}


.menu li a:active {
	color: #8842d5;
}

.menu2 li a:active {
	color: #8842d5;
}

/*конец меню и лого*/

h3 {
	color: black;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
	font-family: Verdana, Arial, sans-serif;

}

/*краткое описание товара*/
#prew {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
	font-family: Verdana, Arial, sans-serif;
}

/*полное описание*/
.addon {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	font-family: Verdana, Arial, sans-serif;	
	text-align: left;
	list-style-image: url(img/boolet.jpg);
	width: 100%;
}

.addon li:first-letter {
	font-size: 18px;
	font-family: Verdana, Arial, sans-serif;
}


/*рамка фото товар и обтекание текстом */
img[alt="logo"] {
	outline: 1px solid #ADACA7; /* графитовая рамка */
	float: left;
	margin-right: 10px;
}

img[alt="logo"]:hover {
	outline: none; 
}

img[alt="utk"] {
	outline: 1px solid #ADACA7; /* графитовая рамка */
	float: left;
	margin-right: 10px;
}

img[alt="utk"]:hover {
	outline: none; 
}



/*поля ввода*/

input[type=text] {
    width: 30%;
    padding: 7px 20px;
    margin: 10px 5px;
    box-sizing: border-box; 
    border-radius: 5px;
    border: none;
    background-color: #8842d5;
    color: white;
}

input[type=button], input[type=reset], input[type=submit] {
    background-color: #8842d5;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 18px 36px;
    text-decoration: none;
    margin: 5px 4px;
    cursor: pointer;  
}

 #upperLetter:valid { text-transform: capitalize; }

textarea {
    width: 50%;
    height: 200px;
    padding: 15px 22px;
    box-sizing: border-box;
    border: 4px solid #ccc;
    border-radius: 5px;
    background-color: gray;
    color: white;
    resize: none;  
}

input[type=number] {
    width: 10%;
    padding: 7px 5px;
    margin: 10px 5px;
    box-sizing: border-box; 
    border-radius: 5px;
    border: none;
    background-color: #8842d5;
    color: white;
}

#makeOrder 	{
	margin-left: 434px;
}

#makeOrder:hover {
	background-color: #838383;
}

#makeOrder:active {
	color: #838383;
}

/*анимация меню*/

.menu li a:hover {
    background-color: #C0C0C0;
    }

/*анимация ниже выпадающего меню*/

#exp:hover {
    background-color: #C0C0C0;
 }

#exp {
    position: relative;
    
}
.menu2 {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 18px;
    min-width: 280px;
    right: 0px;

}

.menu2 drop li a {
    color: #24221A;
    padding-left: 2px;
    text-decoration: none;
    display: block;
}
#exp:hover .menu2 {
    display: block;
}


/*таблицы*/

.about {
	border: 1px solid #000;
	width: 400px;
	height: 200px;
	border-collapse: collapse;
}

.about td {
	border: 1px solid #000;
	vertical-align: top;
	padding: 10px;
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

#mergeVer {
	max-width: 100px;
}


#mergeHor {
	height: 70px;
}

/*горизонтальное выстраивание товаров в каталоге*/
.stuffMain {
	position: relative;
	height: 150px;
}


.stuff1 {
	margin-left: 10px;
	position: absolute;
}

.stuff2 {
	margin-left: 300px;
	position: absolute;
}
